In [1]:
import pandas as pd
import geopy as geo

In [2]:
df = pd.read_csv("supermarkets.csv")
df = df.set_index("ID")
df

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [3]:
dir(geo)

['ArcGIS',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeFarm',
 'GeocoderDotUS',
 'GoogleV3',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'Mapzen',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Photon',
 'Point',
 'What3Words',
 'YahooPlaceFinder',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']

In [4]:
nom = geo.Nominatim()
nom.geocode("23 Brewster Ln E., Setauket, NY 11733")

Location(23, Brewster Lane East, Setauket-East Setauket, Suffolk County, New York, 11733, United States of America, (40.9593251419288, -73.1039702521014, 0.0))

In [5]:
df["Address_Full"] = df.Address + ", " + df.City + ", " + df.State
df

,Address,City,State,Country,Name,Employees,Address_Full
ID,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114"
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119"
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114"
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114"
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California"
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114"

In [6]:
df["coordinates"] = df["Address_Full"].apply(nom.geocode)
df

,Address,City,State,Country,Name,Employees,Address_Full,coordinates
ID,,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114","(3666, 21st Street, Noe Valley, SF, California..."
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119",None
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114","(332, Hill Street, Noe Valley, SF, California,..."
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114","(3995, 23rd Street, Noe Valley, SF, California..."
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California","(1056, Sanchez Street, Noe Valley, SF, Califor..."
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114","(551, Alvarado Street, Noe Valley, SF, Califor..."

In [7]:
print(df.coordinates[1].latitude)
print(df.coordinates[1].longitude)

37.756488877551
-122.429343346939

In [8]:
df["Latitude"] = df["coordinates"].apply(lambda x: x.latitude if x != None else None)
df["Longitude"] = df["coordinates"].apply(lambda x: x.longitude if x!= None else None)

In [9]:
df

,Address,City,State,Country,Name,Employees,Address_Full,coordinates,Latitude,Longitude
ID,,,,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114","(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119",None,NaN,NaN
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114","(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114","(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California","(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114","(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220