In [2]:
import pandas

In [3]:
df1 = pandas.DataFrame([[2,4,6],[10,20,30]])

In [4]:
df1

    0   1   2
0   2   4   6
1  10  20  30

In [5]:
df1 = pandas.DataFrame([[2,4,6],[10,20,30]], columns=["Price","Age","Value"])

In [6]:
df1

   Price  Age  Value
0      2    4      6
1     10   20     30

In [10]:
df2 = pandas.DataFrame([{"Name":"Jon"},{"Name":"Jack"}])
print(df2)
df2

   Name
0   Jon
1  Jack

   Name
0   Jon
1  Jack

In [9]:
df3 = pandas.DataFrame([{"Name":"Steven", "Surname":"Sanderson"},{"Name":"Jack","Surname":"Johnson"},{"Name":"First Only","Surname":""}])
df3

         Name    Surname
0      Steven  Sanderson
1        Jack    Johnson
2  First Only

In [11]:
df1.mean()

Price     6.0
Age      12.0
Value    18.0
dtype: float64

In [12]:
df1.mean().mean()

12.0

In [13]:
df1.Price

0     2
1    10
Name: Price, dtype: int64

In [14]:
df1.Price.mean()

6.0